{% extends "blogs/Base.html" %}
{% load bootstrap %}
{% block content %}
    <div class="container pb-5">
        <div class="row">
            <div class=col-sm">
                <form class="form-inline my-2 my-lg-0" method="GET">
                    {{ searchFilter.form }}
                    <button class="btn-btn-outline-success my-2 my-sm-0">search</button>

                </form>

            </div>


        </div>
    </div>
    {% for flight in searchFilter.qs %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ flight.source }}</a>
                    <small class="text-muted">{{ flight.To }}</small>
                    <button id="b" style="background-color: #89cff0; border-radius: 2em; font-size:16px ">Book</button>
                </div>
                <h2><a class="article-title" href="#">{{ flight.check_in_date }}</a></h2>
                <p class="article-content">{{ flight.check_out_date }}
                <p class="article-content">Number of tickets: {{ flight.no_of_tickets }}</p>
                <section>
                    <option>
                        {{ flight.class_avaiable }}
                    </option>

                </section>
                <p class="article-content">{{ flight.class_avaiable }}</p>
                <p class="article-content">{{ flight.plane.number_of_sets }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}